    <div class="bg-white text-dark row menu">
        <div class=" px-sm-2 px-0 ">
            <div class="d-flex flex-column align-items-center pt-2 min-vh-100 text-black" id="cambio">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto">
                    <span class="nav-link fs-5 d-none d-sm-inline pt-3"><i class="fa-brands fa-twitter fa-2xl" style="color: #00acee;"></i></span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/tweets.html" class="nav-link align-middle px-0 ">
                            <i class="fa-solid fa-house-chimney-window fa-2xl icono" style="color: #000000;"></i> 
                        </a>
                    </li>
                    <li>
                        <a href="##" class="nav-link align-middle px-0 ">
                            <i class="fa-solid fa-hashtag fa-2xl ps-1 icono" style="color: #000000;"></i> 
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link align-middle px-0 ">
                            <i class="fa-regular fa-bell fa-2xl ps-1 icono" style="color: #000000;"></i> 
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link align-middle px-0 ">
                            <i class="fa-regular fa-envelope fa-2xl ps-1 icono" style="color: #000000;"></i> 
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link align-middle px-0 ">
                            <i class="fa-regular fa-bookmark fa-2xl ps-2 icono" style="color: #000000;"></i> 
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fa-solid fa-list fa-2xl ps-1 icono" style="color: #000000;"></i>
                        </a>
                    </li>
                    <li>
                      <a href="#" class="nav-link align-middle px-0">
                        <img src="https://img.freepik.com/iconos-gratis/pikachu_318-196537.jpg" alt="hugenerd" width="40" height="40" class="rounded-circle">
                      </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link align-middle px-0">
                          <i class="fa-regular fa-comment-dots fa-2xl ps-1 icono" style="color: #000000;"></i> 
                        </a>
                    </li>
                    <li class="nav-link align-middle px-0" aria-current="page" >
                    <a href="/tweets/new.html"><i class="fa-solid fa-feather fa-2xl" style="color: #00acec;"> </i></a>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>

     <script src="https://kit.fontawesome.com/360cd4ba7a.js" crossorigin="anonymous"></script>