/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.body {
    font-family: 'Roboto' !important;
}

#usuario {
    margin-bottom: 0 !important;
    font-weight: 700;
    font-size: 1.4rem;
    transition:  ease !important;
}

a {
    text-decoration:none !important;
    color: black !important;
    transform: ease 0.3s;
}

#usuario2 {
    margin-bottom: 0 !important;
    font-weight: 700;
    font-size: 1.3rem;
    color: gray;
}

#usuario3 {
    margin-bottom: 0 !important;
    font-weight: 700;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
}

.titulo {
    margin: 0 !important;
    font-weight: 700;
    font-size: 2rem;
}

#tweet {
    margin: 0 !important;
    font-weight: 500;
    font-size: 1.2rem;
}

.menu{
    position: fixed;
    border-right: 1px solid gray;
    height:100%;
   }

   #central{
    border-right: 1px solid gray;
    height:100%;
   }

   ul {
    padding: 0 !important;
    list-style: none;
}

li {
    font-weight: 500;
    font-size: 1.1rem;
    color: rgb(156, 154, 154);
}

.hash {
    font-weight: 700 !important;
    font-size: 1.2rem !important;
    color: black !important;
}

.plomo {
    font-weight: 500;
    font-size: 1.1rem;
    color: rgb(156, 154, 154);
}

.btn {
    border-radius: 20px !important;
}

.nav-link
{
    margin-bottom: 25px !important;
}

.busqueda {
    background-color: rgb(233, 234, 250);
    border-radius: 15px !important;
}

.icono {
    transition:  ease !important;
}

.icono:hover {
    color: rgb(0, 172, 236) !important;
}

a:hover {
    color: rgb(0, 172, 236) !important;
}